<ion-content [fullscreen]="true" class="fundo">
  <div>
    <div class="voltarDiv" (click) = 'goBack()'>
      <img src="../../assets/Imagens/arrowLeft.png" class="voltarIcon">
      <p class="voltarTxt">Voltar</p>
    </div>
  </div>

  <div class="flexColumn">
    <ion-accordion-group class="perguntasAccordion" [multiple]="true" expand="inset">
      <ion-accordion value="1">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">Como faço para começar a investir no Estácio Bank?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">Para começar a investir, acesse a seção de Investimentos no aplicativo, escolha a empresa que você deseja investir e siga as instruções para selecionar o tipo de investimento desejado.</ion-label>
        </div>
      </ion-accordion>

      <ion-accordion value="2">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">Quais são as opções de investimento disponíveis no Estácio Bank?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">O Estácio Bank oferece diversas opções de investimento, como a Unidade de Ensino - Estácio, Unidade Tecnológica - TechVest, e Sustentabilidade Ambiental - EcoGrow. Escolha a que melhor se adequa aos seus objetivos.</ion-label>
        </div>
      </ion-accordion>
      
      <ion-accordion value="3">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">É necessário um valor mínimo para começar a investir no Estácio Bank?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">Não, no Estácio Bank você tem a liberdade de investir com a quantia que achar necessário.</ion-label>
        </div>
      </ion-accordion>

      <ion-accordion value="4">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">Como acompanho o desempenho dos meus investimentos no Estácio Bank?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">Para acompanhar o desempenho dos seus investimentos, acesse a seção de Investimentos e vá para a opção "Portfólio" para visualizar informações sobre cada investimento.</ion-label>
        </div>
      </ion-accordion>

      <ion-accordion value="5">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">Existe algum custo associado à realização de investimentos no Estácio Bank?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">Sim, existe uma pequena taxa aplicada aos investimentos que são bem sucedidos. Essa taxa é de 1%.</ion-label>
        </div>
      </ion-accordion>

      <ion-accordion value="6">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">Posso resgatar meus investimentos a qualquer momento?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">O resgate de investimentos pode estar sujeito a prazos e condições específicas. Consulte a seção de Investimentos para obter informações detalhadas sobre políticas de resgate.</ion-label>
        </div>
      </ion-accordion>

      <ion-accordion value="7">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">É possível reinvestir automaticamente os rendimentos dos meus investimentos?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">Alguns tipos de investimentos podem oferecer a opção de reinvestir automaticamente os rendimentos. Verifique as opções disponíveis na seção de Investimentos.</ion-label>
        </div>
      </ion-accordion>

      <ion-accordion value="8">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">Como faço para adicionar mais fundos ao meu investimento existente?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">Para adicionar mais fundos ao seu investimento existente, acesse a seção de Investimentos, escolha a opção "Adicionar Fundos" e siga as instruções para completar a transação.</ion-label>
        </div>
      </ion-accordion>

      <ion-accordion value="9">
        <ion-item slot="header" color="branco" class="accordionHeader">
          <ion-label class="ion-text-wrap">Existe algum suporte ou consultoria disponível para ajudar na escolha de investimentos?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" color="light" class="accordionContent">
          <ion-label class="ion-text-wrap">O Estácio Bank pode oferecer suporte e informações sobre os diferentes tipos de investimentos. Acesse a seção de Investimentos para encontrar recursos educacionais e, se disponível, serviços de consultoria.</ion-label>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div>
    <div class="footer">
      <div class="flexRow">
        <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconFooter">
        <p class="txtFooter">Estácio Bank</p>
      </div>
    </div>
  </div>
  
</ion-content>
