<ion-content [fullscreen]="true" class="fundo">
  <div class="header">
    <div class="voltarDiv" (click) = 'goBack()'>
      <img src="../../assets/Imagens/arrowLeft.png" class="voltarIcon">
      <p class="voltarTxt">Voltar</p>
    </div>

    <div>
      <p class="telaTitulo">Empréstimo</p>
    </div>
  </div>

  <form class="transparent flexColumn form">
    <button type="button" class="loginButton" (click)="emprestimo()">Receber Empréstimo</button>
  </form> 

  <div>
    <div class="footer">
      <div class="flexRow">
        <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconFooter">
        <p class="txtFooter">Estácio Bank</p>
      </div>
    </div>
  </div>
</ion-content>
