<ion-content [fullscreen]="true" class="fundo">
  <div class="header">
    <div class="voltarDiv" (click) = 'navigateToMenuPrincipal ()'>
      <img src="../../assets/Imagens/arrowLeft.png" class="voltarIcon">
      <p class="voltarTxt">Voltar</p>
    </div>

    <div>
      <p class="telaTitulo">Transferências</p>
    </div>
  </div>

  <div class="flexColumn div1">
    <div class="buttonLargoBaixo">
      <div class="flexRow historicoHeader">
        <img src="../../assets/Imagens/plus.png" class="iconButtonBottom">
        <p class="txtAjuda">Nova Transferência</p>
        <img src="../../assets/Imagens/arrowRight.png" class="iconButtonBottom right">
      </div>
    </div>
  </div>

  <div>
    <p class="tituloPagarReceber">Transferir Novamente</p>

    <section>
      <div class="container">
        <div class="Circulo">
          <p class="txtCirculo">MA</p>
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Marina Alves Cavalcanti</p>
          </div>
          <div class="P2">
            <p class="txtChaves">Banco do Brasil S.A.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="Circulo">
          <p class="txtCirculo">GA</p>
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Gabriela Almeida Alves</p>
          </div>
          <div class="P2">
            <p class="txtChaves">Banco Inter S.A.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="Circulo">
          <p class="txtCirculo">EB</p>
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Estácio Bank</p>
          </div>
          <div class="P2">
            <p class="txtChaves">Banco Itaucard S.A.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="Circulo">
          <p class="txtCirculo">MC</p>
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Matheus Souza Cardoso</p>
          </div>
          <div class="P2">
            <p class="txtChaves">Banco Santander (Brasil) S.A..</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="Circulo">
          <p class="txtCirculo">SO</p>
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Sofia Souza Oliveira</p>
          </div>
          <div class="P2">
            <p class="txtChaves">Mercado Pago </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="Circulo">
          <p class="txtCirculo">VR</p>
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Vitoria Silva Ribeiro</p>
          </div>
          <div class="P2">
            <p class="txtChaves">Nubank.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="Circulo">
          <p class="txtCirculo">CC</p>
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Carla Silva Correia</p>
          </div>
          <div class="P2">
            <p class="txtChaves">Banco do Brasil S.A.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div>
    <div class="footer">
      <div class="flexRow">
        <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconFooter">
        <p class="txtFooter">Estácio Bank</p>
      </div>
    </div>
  </div>
</ion-content>
