<ion-content [fullscreen]="true" class="fundo">
  <div class="header">
    <div class="voltarDiv" (click) = 'navigateToMenuPrincipal ()'>
      <img src="../../assets/Imagens/arrowLeft.png" class="voltarIcon">
      <p class="voltarTxt">Voltar</p>
    </div>

    <div>
      <p class="telaTitulo">Investir</p>
    </div>
  </div>

  <div>
    <div>
      <p class="tituloPagarReceber">Em quem você deseja investir?</p>
    </div>
    <div class="divChaves">
      <div class="container">
        <div class="Circulo">
          <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconChaves2">
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">Estácio</p>
          </div>

          <div class="P2">
            <p class="txtChaves">Unidade de Ensino</p>
          </div>
        </div>

        <div class="Texto-2">
          <div class="P3"></div>
          <div class="P4"><img src="../../assets/Imagens/arrowRight.png" class="iconChaves"></div>
        </div>
      </div>
    </div>

    <div class="divChaves">
      <div class="container">
        <div class="Circulo">
          <img src="../../assets/Imagens/research.png" class="iconChaves2">
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">TechVest</p>
          </div>

          <div class="P2">
            <p class="txtChaves">Centro de Pesquisa</p>
          </div>
        </div>

        <div class="Texto-2">
          <div class="P3"></div>
          <div class="P4"><img src="../../assets/Imagens/arrowRight.png" class="iconChaves"></div>
        </div>
      </div>
    </div>

    <div class="divChaves">
      <div class="container">
        <div class="Circulo">
          <img src="../../assets/Imagens/save-the-world.png" class="iconChaves2">
        </div>
        <div class="Texto-1">
          <div class="P1">
            <p class="txtChaves">EcoGrow</p>
          </div>

          <div class="P2">
            <p class="txtChaves">Sustentabilidade Ambiental</p>
          </div>
        </div>

        <div class="Texto-2">
          <div class="P3"></div>
          <div class="P4"><img src="../../assets/Imagens/arrowRight.png" class="iconChaves"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="flexColumn">
    <div class="buttonLargoBaixo">
      <div class="flexRow historicoHeader">
        <img src="../../assets/Imagens/ajuda.png" class="iconButtonBottom">
        <p class="txtAjuda">Ajuda</p>
        <img src="../../assets/Imagens/arrowRight.png" class="iconButtonBottom right">
      </div>
    </div>
  </div>

  <div>
    <div class="footer">
      <div class="flexRow">
        <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconFooter">
        <p class="txtFooter">Estácio Bank</p>
      </div>
    </div>
  </div>
</ion-content>
