<ion-content [fullscreen]="true" class="fundo">
  <div class="header">
    <div class="voltarDiv" (click) = 'navigateToMenuPrincipal ()'>
      <img src="../../assets/Imagens/arrowLeft.png" class="voltarIcon">
      <p class="voltarTxt">Voltar</p>
    </div>

    <div>
      <p class="telaTitulo">Conta</p>
    </div>
  </div>

  <div>
    <p class="tituloPagarReceber">{{nome}} {{sobrenome}}</p>
    <p class="txtPagarReceber">Email: ********&#64;*****.***</p>
    <p class="txtPagarReceber">CPF: ***.***.***-**</p>
    <p class="txtPagarReceber">Chave Aleatória: *********-***</p>
    <p class="txtPagarReceber">Número do Cartão: **** **** **** ****</p>
    <p class="txtPagarReceber">Conta: **** ************-*</p>
    <p class="txtPagarReceber">CVV: ***</p>
  </div>

  <button class="loginButton" (click)="restartApp()">Sair da Conta</button>

  <div>
    <div class="footer">
      <div class="flexRow">
        <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconFooter">
        <p class="txtFooter">Estácio Bank</p>
      </div>
    </div>
  </div>
</ion-content>
