<ion-content [fullscreen]="true" class="fundo">
  <div>
    <div class="voltarDiv" (click) = 'navigateToMenuPrincipal ()'>
      <img src="../../assets/Imagens/arrowLeft.png" class="voltarIcon">
      <p class="voltarTxt">Voltar</p>
    </div>
  </div>

  <div class="flexColumn">
    <div class="divHistorico">
      <div class="flexRow2 historicoHeader">
        <img src="../../assets/Imagens/histórico.png" class="iconHistoricoHeader">
        <p>Histórico</p>
      </div>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/receber.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Pix</p>
            <p class="historicoTexto P2">Murilo Silva Carvalho</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoReceber P3">+R$50,00</p>
            <p class="historicoTexto P4">27/10</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/enviar.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Pix</p>
            <p class="historicoTexto P2">Marina Alves</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoEnviar P3">-R$75,00</p>
            <p class="historicoTexto P4">30/09</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/enviar.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Reembolso</p>
            <p class="historicoTexto P2">Gabriela Almeida Alves</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoEnviar P3">-R$15,00</p>
            <p class="historicoTexto P4">15/09</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/receber.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Transferência</p>
            <p class="historicoTexto P2">Rafael Ribeiro Sousa</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoReceber P3">+R$1300,00</p>
            <p class="historicoTexto P4">12/09</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/receber.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Pix</p>
            <p class="historicoTexto P2">Gabriela Almeida Alves</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoReceber P3">+R$15,00</p>
            <p class="historicoTexto P4">11/09</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/enviar.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Depósito</p>
            <p class="historicoTexto P2">Estácio Bank</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoEnviar P3">-R$3000,00</p>
            <p class="historicoTexto P4">06/09</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/enviar.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Pix</p>
            <p class="historicoTexto P2">Matheus Souza</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoEnviar P3">-R$450,00</p>
            <p class="historicoTexto P4">05/09</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/receber.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Transferência</p>
            <p class="historicoTexto P2">Gustavo Araújo</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoReceber P3">+R$5500,00</p>
            <p class="historicoTexto P4">05/09</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/enviar.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Transferência</p>
            <p class="historicoTexto P2">Sofia Souza Oliveira</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoEnviar P3">-R$45,00</p>
            <p class="historicoTexto P4">30/08</p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="flexRow divIconHistorico Circulo">
            <img src="../../assets/Imagens/receber.png" class="iconHistorico">
          </div>

          <div class="flexHist1 Texto1">
            <p class="historicoTexto P1">Pix</p>
            <p class="historicoTexto P2">Fernanda Lima Castro</p>
          </div>

          <div class="flexHist2 Texto2">
            <p class="historicoReceber P3">+R$300,00</p>
            <p class="historicoTexto P4">29/08</p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div>
    <div class="footer">
      <div class="flexRow">
        <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconFooter">
        <p class="txtFooter">Estácio Bank</p>
      </div>
    </div>
  </div>
  
</ion-content>
  