<ion-content [fullscreen]="true" class="fundo">
  <div class="header">
    <div class="voltarDiv" (click) = 'navigateToMenuPrincipal ()'>
      <img src="../../assets/Imagens/arrowLeft.png" class="voltarIcon">
      <p class="voltarTxt">Voltar</p>
    </div>

    <div>
      <p class="telaTitulo">Histórico</p>
    </div>
  </div>

  <div>
    <div class="divChaves">
      <p class="tituloPagarReceber"><img src="../../assets/Imagens/histórico.png" class="iconChaves">Histórico</p>
      <p class="tituloPagarReceber2">Ative a visibilidade das Informações
        para acessar essa funcionalidade.</p>
    </div>
  </div>


  <div>
    <div class="footer">
      <div class="flexRow">
        <img src="../../assets/Imagens/Estácio Logo Banco.png" class="iconFooter">
        <p class="txtFooter">Estácio Bank</p>
      </div>
    </div>
  </div>
</ion-content>
