/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
    --ion-color-branco: linear-gradient(to top, #3b4c78, #394974, #37466f, #35446b, #334167, #323f64, #303e62, #2f3c5f, #2e3b5c, #2d395a, #2d3857, #2c3755);
    --ion-color-branco-rgb: 59, 76, 120;
    --ion-color-branco-contrast: #e0e0e0;
    --ion-color-branco-contrast-rgb: 59, 76, 120;
    --ion-color-branco-shade: #e0e0e0;
    --ion-color-branco-tint: linear-gradient(to top, #303d60, #2e3a5c, #2c3858, #2a3555, #283351, #27314e, #25304b, #242e48, #232c45, #222b42, #212940, #20283d);
  }
  
  .ion-color-branco {
    --ion-color-base: var(--ion-color-branco);
    --ion-color-base-rgb: var(--ion-color-branco-rgb);
    --ion-color-contrast: var(--ion-color-branco-contrast);
    --ion-color-contrast-rgb: var(--ion-color-branco-contrast-rgb);
    --ion-color-shade: var(--ion-color-branco-shade);
    --ion-color-tint: var(--ion-color-branco-tint);
  }
  
  div[slot='content'] {
    background: rgba(var(--ion-color-branco-rgb), 0.25);
  }

  .custom-snackbar {
    all: initial;
    * {
      all: unset;
    }

    background: #1f1f1f !important;
    box-shadow: none !important;
    color: white !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute !important;
    bottom: 3rem !important;
    width: 70% !important;
    max-width: 70% !important;
    border-radius: 20px !important;
  }