$bg: linear-gradient(to top, #24324f, #24314d, #23304b, #232f4a, #222e48, #212d46, #212c45, #202b43, #1f2940, #1e283e, #1d263b, #1c2539);
$primary: linear-gradient(to top, #3b4c78, #394974, #37466f, #35446b, #334167, #323f64, #303e62, #2f3c5f, #2e3b5c, #2d395a, #2d3857, #2c3755);
$secondary: #2a2966;
$fonte: #e0e0e0;

$hover:linear-gradient(to top, #303d60, #2e3a5c, #2c3858, #2a3555, #283351, #27314e, #25304b, #242e48, #232c45, #222b42, #212940, #20283d);
$click: linear-gradient(to top, #242d46, #222b43, #202940, #1e273d, #1c253a, #1b2338, #1a2235, #192033, #181f30, #171e2e, #161c2b, #151b29);

$cartao: radial-gradient(circle, #3b3b78, #393974, #37386f, #35366b, #333467, #323364, #303362, #2f325f, #2e325d, #2d315a, #2d3158, #2c3055);

$primaryHSL: hsl(241, 42%, 28%);
$secondaryHSL: hsl(250, 68%, 64%);